<!DOCTYPE html>
<html>
  <head>
    <title>MemoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@rails/ujs@6.0.2/lib/assets/compiled/rails-ujs.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="wrapper header-color">
      <div class="container flex-between">
        <div class="header-left">
          <h1>MemoApp</h1>
        </div>

        <div class="header-right">
          <% if @current_user.nil? %>
            <%= link_to "新規登録", new_users_path, method: :get %>
            <%= link_to "ログイン", new_sessions_path, method: :get %>
          <% else %>
            ログインユーザー：<%= @current_user.name %>さん
            <%= link_to "登録情報", users_path, method: :get %>
            <%= link_to "ログアウト", destroy_sessions_path, method: :delete %>
          <% end %>
        </div>
      </div>
    </div>

    <div id="notice">
      <%= render "layouts/notice" %>
    </div>

    <%= yield %>
  </body>
</html>
